<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Firebase Server Auth</title>
    <link rel="stylesheet" href="mvp.css" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script
      src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"
      defer
    ></script>
    <script
      src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"
      defer
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"
      defer
    ></script>
  </head>
  <body>
    <main>
      <section>
        <div class="content">
 
          <div class="text">Login Form</div>
          <form id="login" action="#">
            <div class="field">
              <span class="fas fa-user"></span>
              <input type="text" name="login" />
            </div>
            <div class="field">
              <span class="fas fa-lock"></span>
              <input type="password" name="password" />
            </div>
            <button>Log in</button>
          </form>
      </div>
      </section>

      <script>
        window.addEventListener("DOMContentLoaded", () => {
            var firebaseConfig = {
    apiKey: "AIzaSyA9RvxIfxKRgTddcCgcaB_gZNXcankLyjA",
    authDomain: "first-61977.firebaseapp.com",
    projectId: "first-61977",
    storageBucket: "first-61977.appspot.com",
    messagingSenderId: "481472757276",
    appId: "1:481472757276:web:c0322b75207261098f29d9"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);

          firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE)


          document
            .getElementById("login")
            .addEventListener("submit", (event) => {
                event.preventDefault();
              const login = event.target.login.value;
              const password = event.target.password.value;

              firebase
                .auth()
                .signInWithEmailAndPassword(login, password)
                .then(({ user }) => {
                  return user.getIdToken().then((idToken) => {
                    return fetch("/sessionLogin", {
                      method: "POST",
                      headers: {
                        Accept: "application/json",
                        "Content-Type": "application/json",
                        "CSRF-Token": Cookies.get("XSRF-TOKEN"),
                      },
                      body: JSON.stringify({ idToken }),
                    });
                  });
                })
                .then(() => {
                  return firebase.auth().signOut();
                })
                .then(() => {
                  window.location.assign("/profile");
                });
              return false;
            });

    
        });
      </script>
    </main>
  </body>
</html>